<%= form_for(@school_classes) do |f| %>
  <label>School Class Form </label><br>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :room_number %><br>
  <%= f.text_field :room_number %><br>
  <%= f.submit %>
<% end %>